.create-form{
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
#years{
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
#season{
    width: 130px;
    float: left;
    margin-top: 10px;
}
#year-name{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.date-from{
    width: 190px;
    float: left;
    margin-right: 10px;

}
.programs{
    width: 200px;
    float: left;
    margin-right: 10px;
}
btn-info{
    float: left;
}
.programs-list{
    float: right;
}
#picture{
    width: 150px;
    height: 150px;
}
.title{
    text-align: center;
}
.programs-list{
    margin-right: 10px;
}
.save-cancel-buttons{
    position: absolute;
    text-align: center;
    bottom:0;
    margin-left: 250px;

}
.menu
{
    left: 0;
    top:0;
    margin-left: 20px;
}
.button-menu{
    background-color: whitesmoke;
    width: 200px;
    border: 1px solid black;
    clear: both;
    float: left;
    margin-bottom: 3px;
}
.container{
    margin-left: 200px;
    position: absolute;
    margin-top: -10px;
}