.title{
    text-align: center;
}
.form-edit{
    width: 400px;
    margin: 0 auto;
}
#picture{
    margin-top: 10px;
}
.programs-list{
    margin-right: 10px;
}
.jury-list{
    margin-right: 3px;
}
.btn-info{
    float: left;
    margin-right: 10px;
}
.movie-search{
    width: 200px;
    float: left;
}
.glyphicon-search{
    float: left;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
}
.movie-list{
    float: right;

}
.table{
    width: 350px;

}
.form-edit1{
    width: 400px;
    margin: 0 auto;
}
.photo{
    float: left;
    width: 300px;
    margin-right: 10px;
}
.movie-list{
    margin-right: 3px;
}
.table{
    width: 400px;
}
.jury-list {
    float: right;
}
.btn-list-award{
    float: right;
}
.role{
    width: 150px;
    float: left;
    margin-right: 40px;
}
.jury-name{
    float: left;
    width: 150px;
}

.save-cancel-buttons{
    position: absolute;
    text-align: center;
    bottom:0;
    margin-left: 250px;
    padding-top: 20px;
}
.menu
{
    left: 0;
    top:0;
    margin-left: 20px;
}
.button-menu{
    background-color: whitesmoke;
    width: 200px;
    border: 1px solid black;
    clear: both;
    float: left;
    margin-bottom: 3px;
}
.container{
    margin-left: 200px;
    position: absolute;
    margin-top: -10px;
}